:root {
  --example-background-color: #000;
  --editor-background-color: #0000008;
  --example-font-color: #888;
  --example-border-color: #333;
  --example-border-radius: 0.6rem;
  --fader-font-color: #556;
}

.ace_paren,
.ace_rparen,
.ace_lparen {
  color: var(--fg);
}

/* pre.playground { */
/*   outline: 1px solid green; */
/* } */

.ace_hidpi .ace_text-layer,
.ace_hidpi .ace_gutter-layer,
.ace_hidpi .ace_content,
.ace_hidpi .ace_gutter {
  /* outline: 1px solid blue; */
  padding-top: 1rem;
}

.hljs.ace_editor {
  /* outline: 1px solid purple; */
  padding: 1rem;
  border-radius: var(--example-border-radius);
  background-color: var(--editor-background-color);
  xborder: 1px solid var(--example-border-color);
}

div.example {
  padding-top: 1.4rem 0;
  border: 1px solid var(--example-border-color);
  background-color: var(--example-background-color);
  color: var(--example-font-color);
  border-radius: var(--example-border-radius);
  margin-bottom: 4.5rem;
}

.example h3 {
  color: var(--example-font-color);
  margin-top: 1.2rem;
  margin-left: 4.4rem;
  margin-bottom: 0rem;
  padding-bottom: 1rem;
  font-size: 1.8rem;
}

.example .header:link {
  color: var(--fader-font-color);
}

.example .note {
  margin-left: 2.8rem;
}

.example pre {
  padding: 0;
  margin: 0;
}

.ace-tomorrow-night .ace_gutter {
  background-color: var(--editor-background-color);
  xborder-right: 1px solid var(--example-border-color);
  color: var(--fader-font-color);
}

div.ace_gutter div.ace_gutter-cell.ace_gutter-active-line {
  background-color: var(--editor-background-color);
}

code > div.ace_scroller {
  border-bottom: 1px solid var(--example-border-color);
  border-left: 1px solid var(--example-border-color);
  border-top: 1px solid var(--example-border-color);
}
